.header__lang-link {
    color: #ffffff;
    text-decoration-line: none;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}
.header__lang-link:hover {
    text-decoration-line: underline;
}