.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1184px;
    min-height: 671px;
    margin: 92px auto 0;
}