.intro__item {
    max-width: 690px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    list-style: none;
    padding: 0;
}
@media screen and (max-width: 1023px) {
    .intro__item {
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
    .intro__item {
        max-width: 288px;
    }
}