.intro__list {
    margin: 33px 0 0 0;
    max-width: 690px;
    min-height: 90px;
    padding: 0;
}
@media screen and (max-width: 1023px) {
    .intro__list {
        max-width: 720px;
        margin: 33px auto 0;
    }
}
@media screen and (max-width: 767px) {
    .intro__list {
        max-width: 288px;
        margin: 34px auto 0;
    }
}