.intro__list {
    margin-top: 33px;
    width: 690px;
    height: 90px;
    padding: 0;
}
@media screen and (max-width: 1024px) {
    .intro__list {
        width: 720px;
    }
}
@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 288px;
        margin: 34px auto 0;
    }
}