.lead {
    max-width: 984px;
    margin: 56px auto 0;
    position: relative;
}
@media screen and (max-width: 1280px) {
    .lead {
        max-width: 928px;
        min-height: 962px;
        margin: 48px auto 0;
    }
}
@media screen and (max-width: 1024px) {
    .lead {
        max-width: 100%;
        min-height: 862px;
        margin: 48px auto 0;
    }
}
@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        min-height: 406px;
        margin: 48px auto 0;
    }
}