.lead__vector {
    width: 937.09px;
    height: 262.99px;
    position: absolute;
    top: 458px;
    left: 23px;
}
@media screen and (max-width: 1280px) {
    .lead__vector {
        width: 883.76px;
        height: 248.02px;
        position: absolute;
        top: 445px;
        left: center;
    }
}
@media screen and (max-width: 1024px) {
    .lead__vector {
        width: 731.38px;
        height: 205.26px;
        position: absolute;
        top: 430px;
        left: center;
    }
}
@media screen and (max-width: 768px) {
    .lead__vector {
        width: 304.74px;
        height: 85.53px;
        position: absolute;
        top: 213px;
        left: 7.6px;
    }
}