.lead__title {
    color: #ffffff;
    width: 720px;
    height: 200px;
    font-family: Inter;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}
@media screen and (max-width: 768px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}