.lead__title {
    color: #ffffff;
    max-width: 720px;
    min-height: 200px;
    font-family: Inter-Black;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}
@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}