.lead__image {
    width: 984px;
    height: 615px;
    margin: 64px auto 0;
    object-fit: cover;
}
@media screen and (max-width: 1280px) {
    .lead__image {
        width: 928px;
        height: 580px;
        margin: 56px auto 0;
    }
}
@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        height: 480px;
        margin: 56px auto 0;
    }
}
@media screen and (max-width: 768px) {
    .lead__image {
        width: 100%;
        height: 200px;
        margin: 40px auto 0;
    }
}