.place__link {
    max-width: 456px;
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    align-self: end;
}
.place__link:hover {
    opacity: 0.8;
    transition: 0.5s;
}
@media screen and (max-width: 1023px) {
    .place__link {
        max-width: 352px;
    }
}
@media screen and (max-width: 767px) {
    .place__link {
        width: 288px;
        margin: 0 auto;
    }
    .place__link:hover {
        width: 288px;
        opacity: 0.8;
        transition: 0.5s;
    }
}