.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    align-self: end;
}
.place__link:hover {
    opacity: 0.8;
    transition: 0.5s;
}
@media screen and (max-width: 767px) {
    .place__link {
        margin: 0 auto;
        width: 288px;
    }
}