.footer {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    height: 18px;
    margin: 92px auto 24px;
}
@media screen and (max-width: 1280px) {
    .footer {
        width: 928px;
        height: 18px;
    }
}
@media screen and (max-width: 1024px) {
    .footer {
        width: 720px;
        height: 18px;
        margin: 88px auto 24px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        width: 288px;
        height: 310px;
        margin: 64px auto 24px;
        display: block;
    }
}